/* YouTube Shorts Limiter - Content Script Styles */

/* Shorts link */
.ytd-guide-section-renderer:has(> a[title="Shorts"]) {
  pointer-events: none;
  cursor: not-allowed;
}

a[title="Shorts"] {
  text-decoration: line-through; 
  cursor: not-allowed;
  pointer-events: none;
}

/* Shorts link styling */
/*
a.shorts-chained {
  position: relative;
  color: white !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
}
  */

.lock-emoji {
  position: absolute;
  left: 11%;
  bottom:5px;
  font-size: 18px;
  opacity: 1;
}

/* Shorts page
-------------------- */

/* Hide up/down arrow buttons */
#navigation-button-down.ytd-shorts, 
#navigation-button-up.ytd-shorts {
  display: none;
}


#shorts-inner-container > .ytd-shorts.reel-video-in-sequence-new:nth-child(n+5) {
  display: none;
}